<%- include('partials/header') %>
<h1>Item:<%= item.name %></h1>
<div style="margin-left: 20px; margin-top: 20px">
  <p><%= item.description %></p>
  <br />
  <p><b>Price: </b><%= item.price %></p>
  <br />
  <p style="color: blue;">Only <%= item.number_in_stock %> left</p>
  <br />
  <p><b>Category: </b><a href="<%= item.category.url %>"><%= item.category.name %></a></p>
</div>
<hr />
<p>
  <a href="<%=category.url%>/delete" class="btn btn-danger">Delete category</a>
  <a
    href="<%=category.url%>/update"
    style="padding-left: 50px"
    class="btn btn-primary"
    >Update category</a
  >
</p>
<%- include('partials/footer') %>
